@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-megrim: var(--font-megrim-sans);
  --font-urbanist: var(--font-urbanist-sans);
  --font-domaine: var(--font-domaine-display-narrow);
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }

    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}


body {
  @apply box-border overflow-y-auto p-0 m-0 bg-fixed font-urbanist;
}

section {
  @apply min-h-[100dvh] flex items-center justify-center;
}

#page-scroll.scroll-locked {
  overflow: hidden !important;
  touch-action: none !important;
  overscroll-behavior: contain;
}



.header-container {
  @apply w-[calc(100%-theme(space.6))] xl:max-w-7xl mx-auto px-3 sm:px-6 lg:px-8;
}

.container {
  @apply w-full xl:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.dark .mobile-menu-backdrops {
  @apply bg-gradient-to-tr from-zinc-900 via-zinc-900/70 to-teal-900/70 z-10 backdrop-filter backdrop-blur-3xl;
}


.pane-outer {
  clip-path: polygon(8% 0%, 92% 0%, 100% 8%, 100% 92%, 92% 100%, 8% 100%, 0% 92%, 0% 8%);
}

.viewport,
.viewport * {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.outer-box {
  position: relative;
}

.outer-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  padding: 5px;
  background: linear-gradient(58deg, #18181b05, #18181b00, #134e4a);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: ease-in-out 3s;
  animation: fadeInOut 4s infinite 2s;
}
.inner-box {
  position: relative;
}
.inner-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  padding: 5px;
  background: linear-gradient(232deg, transparent, #18181b00, #134e4a);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: ease-in-out 3s;
  animation: fadeInOut 4s infinite 3s;
}
.hero-gradient {
  background: linear-gradient(to right, rgb(209 213 219), rgb(27, 156, 148), rgb(17 94 89));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}